.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo-icon {
  width: 32px;
}

.header__logo-text {
  padding-top: 10px;
  font-weight: 800;
}

.header__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  letter-spacing: 10px;
  margin: 30px 0 32px;
  letter-spacing: 0;
}

.header__subtitle {
  max-width: 720px;
  font-size: 30px;
  line-height: 1.2;
}

.header__image {
  max-width: 100%;
}
