.page {
  display: flex;
  flex-direction: column; /* Define layout vertical */
  min-width: 1100px;
  max-width: 1600px;
  min-height: 100vh; /* Página ocupa altura total da tela */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0 32px; /* Espaçamento lateral */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

/* ===== HEADER ===== */
.header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

/* ===== NAVEGAÇÃO ===== */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 0;
}

.nav__logo {
  width: 58px;
  height: 80px;
  display: block;
}

.nav__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  column-gap: 20px; /* Espaçamento entre os links */
  padding: 0;
  margin: 8px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #2f80ed; /* Cor ao passar o mouse */
}

/* ===== CONTEÚDO HEADER (Texto + Imagem) ===== */
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 32px; /* Espaço entre texto e imagem */
}

/* Título */
.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 635px;
  margin-bottom: 32px;
  margin-top: 128px;
  color: #000;
}

/* Descrição */
.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 32px;
}

/* Imagem */
.header__image {
  max-width: 636px;
}

.header__image img {
  width: 100%;
  height: auto;
  display: block;
}

/* ===== FOOTER DO HEADER ===== */
.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-top: 32px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
  font-size: 14px;
}

.staff {
  background-image: url("../images/staff_picks_background.jpg");
  padding: 100px 0 140px;
  background-size: cover;
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  margin: 0 0 24px;
  color: #ffffff;
  list-style-type: none;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

/* adicionar a regra CSS para sua nova classe aqui. Certifique-se de colocar antes de .card: os pais devem preceder seus filhos */

.staff__cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  padding: 0;
  margin: auto;
  margin-top: 68px;
  margin-bottom: 68px;
  column-gap: 40px;
  gap: 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.card {
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  width: 360px;
  height: 420px;
  box-sizing: border-box;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin-top: 80px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
  display: flex;
}

.card__topo {
  display: flex;
  flex-direction: column;
  column-rule-color: #2f80ed;
}
